.notification {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
}

.notification button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.notification button:hover {
    color: #ff0000;
    /* تغيير اللون عند التمرير */
}